// Style wide settings
$color-text: #333;
$color-gray: #666; // FIXME: change to Solita authentic gray
$color-black: #111;
$color-link: #17c;
$color-hover: #a53;

$font-body: 'Helvetica Neue', Arial, Helvetica, sans-serif;
$font-heading: 'PT Sans Narrow', 'Arial Narrow', sans-serif;
$font-code: Menlo, Consolas, 'DejaVu Sans Mono', Monaco, 'Courier New', Courier, monospace;

$baseline: 24px;

$gutter: 40px;

$breakpoint-1: 620px;
$breakpoint-2: 740px;
$breakpoint-3: 1040px;

$primary-width: 700px;
