// Style wide settings

$cerise: #e93f85;
$black: #000;
$pale-sky: #70767f;
$aluminium: #a9adb6;
$porcelain: #f0f1f2;
$white: #fff;

$color-text: #333;
$color-gray: #666; // FIXME: change to Solita authentic gray
$color-black: #000;
$color-link: #17c;
$color-hover: #a53;

$font-body: 'proxima-nova', sans-serif;
$font-heading: $font-body;
$font-code: Menlo, Consolas, 'DejaVu Sans Mono', Monaco, 'Courier New', Courier, monospace;

$baseline: 24px;

$gutter: 40px;

$breakpoint-1: 620px;
$breakpoint-2: 740px;
$breakpoint-3: 1040px;

$primary-width: 700px;
