/*!
 * Solita Dev CSS
 */

@import "compass/css3";


// Style wide settings
$color-text: #333;

$font-body: 'chaparral-pro', 'Georgia', serif;
$font-heading: $font-body;

$baseline: 24px;


// Mixins
@mixin image-replacement {
    text-indent:100%;
    overflow:hidden;
    white-space:nowrap;
}

@mixin clearfix {
    *zoom: 1;

    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin disable-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* RESET
----------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

[hidden] {
  display: none;
}

img {
  border: 0;
  max-width:100%;
  -ms-interpolation-mode: bicubic;
}

img, embed, object, video {
  height: inherit;
  max-width: 100%;
  _width: 100%; /* IE6 fix */
}

/* Position 'sub' and 'sup' without affecting line-height: gist.github.com/413930 */
sub, sup {
    font-size: 0.625em;
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}


/* BASE
----------------------------------------------------------------------------- */
html {
    background:#fff;
    font-size: 100%;
    overflow-y:scroll; /* Force scrollbars 100% of the time */
    -webkit-font-smoothing: antialiased;

    /* Inflate text size on mobiles by full increments only */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* Sam's Grid System: http://samsoff.es/posts/my-grid-system */
.wrapper, .row {
    overflow: hidden;
    margin:0 auto;
    max-width:640px;
}
.row > div {
    float:right;
    width:300px;
}
.row > div:first-child {
    float:left;
}


/* TYPOGRAPHY
----------------------------------------------------------------------------- */
body {
    /* 16px/24px --> $baseline: 24px */
    font:100%/1.5 $font-body;
}
body, input, textarea {
    color:$color-text;
}
h1, h2, h3, h4, h5, h6 {
    margin: $baseline 0;
}
ol, ul, p, pre, table, form {
    margin:0 0 $baseline;
}


h1, h2, h3, h4, h5, h6 {
    color:#101010;
    font-family: $font-heading;
    font-weight: 700;
    line-height: $baseline;
}
h1, .fake-h1 {
    font-size: 2.625em;
    line-height: $baseline*2;
}
h2, .fake-h2 {
    font-size: 1.5em;
    line-height:$baseline*1.5;
}
h3, .fake-h3 {
    font-size: 1.25em;
}
h4, .fake-h4 {
    font-size: 1em;
}
h5, .fake-h5 {
    font-size: 1em;
}
h6, .fake-h6 {
    font-size: 0.75em;
}
h5, h6 {
    letter-spacing: 0.0625em;
    text-transform:uppercase;
}

a {
    border-bottom:1px solid #ced2df;
    color:#17c;
    text-decoration: none;
}
a:hover {
    border-color:#a53;
    color:#a53;
}
a:active, a:focus {
    opacity: .7;
}

blockquote {
    border-left:2px solid #bbb;
    color:#888;
    margin: 0 0 1.6em;
    padding-left: 2em;
}

pre {
    white-space: pre;                      /* ? */
    white-space: pre-wrap;                 /* CSS3 browsers  */
    white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
    white-space: -pre-wrap;                /* Opera 4 thru 6 */
    white-space: -o-pre-wrap;              /* Opera 7 and up */
    word-wrap: break-word;                 /* IE 5.5+ and up */
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal; /* old webkit */
}

pre, code, kbd, samp {
    font: 1em/1.625em Menlo, Consolas, 'DejaVu Sans Mono', Monaco, 'Courier New', Courier, monospace;
}

ul, ol {
    padding: 0 0 0 1.4em;
}


/* TABLES
----------------------------------------------------------------------------- */
th, td {
    padding:6px 16px;
}


/* FORMS
----------------------------------------------------------------------------- */
fieldset {
    border:1px solid #666;
    padding:$baseline/2;
}


/* HEADER
----------------------------------------------------------------------------- */
.header {
    border-top:3px solid #666;
    color:#666;
    padding:$baseline 0 0;
}
.brand {
    border:0;
    margin-bottom:$baseline*0.5;
}


/* POST
----------------------------------------------------------------------------- */
.title {
    margin-bottom:0;
}
.meta {
    color:#666;
    font-size:0.875em;
}
.post .title {
    font-size:1.5em;
    line-height:$baseline*1.5;
}


/* FOOTER
----------------------------------------------------------------------------- */
.footer {
    border-top:1px solid #bbb;
    color:#666;
    font-size:0.75em;
    margin:$baseline*2 auto 0;
    padding-top:$baseline;
    text-align:center;

    a {
        color:#666;
    }
}


/* PYGMENTS
----------------------------------------------------------------------------- */
.hll { background-color: #ffffcc }
.c { color: #8f5902; font-style: italic } /* Comment */
.err { color: #a40000; border: 1px solid #ef2929 } /* Error */
.g { color: #000000 } /* Generic */
.k { color: #204a87; font-weight: bold } /* Keyword */
.l { color: #000000 } /* Literal */
.n { color: #000000 } /* Name */
.o { color: #ce5c00; font-weight: bold } /* Operator */
.x { color: #000000 } /* Other */
.p { color: #000000; font-weight: bold } /* Punctuation */
.cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
.cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
.c1 { color: #8f5902; font-style: italic } /* Comment.Single */
.cs { color: #8f5902; font-style: italic } /* Comment.Special */
.gd { color: #a40000 } /* Generic.Deleted */
.ge { color: #000000; font-style: italic } /* Generic.Emph */
.gr { color: #ef2929 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #000000; font-style: italic } /* Generic.Output */
.gp { color: #8f5902 } /* Generic.Prompt */
.gs { color: #000000; font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
.kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
.kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
.kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
.kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
.kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
.kt { color: #204a87; font-weight: bold } /* Keyword.Type */
.ld { color: #000000 } /* Literal.Date */
.m { color: #0000cf; font-weight: bold } /* Literal.Number */
.s { color: #4e9a06 } /* Literal.String */
.na { color: #c4a000 } /* Name.Attribute */
.nb { color: #204a87 } /* Name.Builtin */
.nc { color: #000000 } /* Name.Class */
.no { color: #000000 } /* Name.Constant */
.nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
.ni { color: #ce5c00 } /* Name.Entity */
.ne { color: #cc0000; font-weight: bold } /* Name.Exception */
.nf { color: #000000 } /* Name.Function */
.nl { color: #f57900 } /* Name.Label */
.nn { color: #000000 } /* Name.Namespace */
.nx { color: #000000 } /* Name.Other */
.py { color: #000000 } /* Name.Property */
.nt { color: #204a87; font-weight: bold } /* Name.Tag */
.nv { color: #000000 } /* Name.Variable */
.ow { color: #204a87; font-weight: bold } /* Operator.Word */
.w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
.mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
.mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
.mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
.mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
.sb { color: #4e9a06 } /* Literal.String.Backtick */
.sc { color: #4e9a06 } /* Literal.String.Char */
.sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
.s2 { color: #4e9a06 } /* Literal.String.Double */
.se { color: #4e9a06 } /* Literal.String.Escape */
.sh { color: #4e9a06 } /* Literal.String.Heredoc */
.si { color: #4e9a06 } /* Literal.String.Interpol */
.sx { color: #4e9a06 } /* Literal.String.Other */
.sr { color: #4e9a06 } /* Literal.String.Regex */
.s1 { color: #4e9a06 } /* Literal.String.Single */
.ss { color: #4e9a06 } /* Literal.String.Symbol */
.bp { color: #3465a4 } /* Name.Builtin.Pseudo */
.vc { color: #000000 } /* Name.Variable.Class */
.vg { color: #000000 } /* Name.Variable.Global */
.vi { color: #000000 } /* Name.Variable.Instance */
.il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */
