---
layout: default
---

<h2 class="list-title">Posts</h2>

<ul class="posts">
{% for post in paginator.posts %}
    <li class="post">
        <h2 class="post-title"><a href="{{ post.url }}">{{post.title}}</a></h2>

        {% assign author = site.authors[post.author] %}
        <p class="post-meta">
            <span class="date" title="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</span> by <span class="author"><a href="{{ author.url }}" title="{{ author.email }}">{{ post.author }}</a></span>
        </p>

        <p class="post-excerpt">{{ post.excerpt }}</p>

        <p><a href="{{ post.url }}" class="decorated">Read more &raquo;</a></p>
    </li>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em class="pagination-item">{{ page }}</em>
    {% elsif page == 1 %}
      <a class="pagination-item" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a class="pagination-item" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
</ul>