<header class="site-header site-content-wrapper">
    <div class="site-header__branding">
        <a href="https://www.solita.fi" aria-label="Solita's website">
            <svg width="46" height="56" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 56V28h14v28H0zm32-28V0h14v28H32zM16 56V0h14v56H16z" fill="#282828" fill-rule="evenodd"></path>
            </svg>
        </a>
    </div>

    <button id="menu-toggle" class="site-header__hamburger menu-toggle" aria-label="Toggle menu">
        <svg class="menu-toggle__svg icon" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 100 100">
            <g class="menu-toggle__svg__g">
                <path class="menu-toggle__svg__line menu-toggle__svg__line--1" d="M5 13h90v14H5z"></path>
                <path class="menu-toggle__svg__line menu-toggle__svg__line--2" d="M5 43h90v14H5z"></path>
                <path class="menu-toggle__svg__line menu-toggle__svg__line--3" d="M5 73h90v14H5z"></path>
                <path class="menu-toggle__svg__close-line menu-toggle__svg__close-line--1" d="M5 43h90v14H5z"></path>
                <path class="menu-toggle__svg__close-line menu-toggle__svg__close-line--2" d="M5 43h90v14H5z"></path>
            </g>
        </svg>
    </button>

    <nav id="primary-navigation" class="site-header__navigation primary-navigation">
        <ul class="primary-navigation__items">
            <li class="menu-item primary-navigation__item"><a class="menu-item__link" href="https://www.solita.fi/en/customers/">Our Customers</a></li>
            <li class="menu-item primary-navigation__item"><a class="menu-item__link" href="https://www.solita.fi/en/services/">Services</a></li>
            <li class="menu-item primary-navigation__item"><a class="menu-item__link" href="https://www.solita.fi/en/news-events/">News &amp; Events</a></li>
            <li class="menu-item primary-navigation__item"><a class="menu-item__link" href="https://www.solita.fi/en/insights/">Insights</a></li>
            <li class="menu-item primary-navigation__item"><a class="menu-item__link" href="https://www.solita.fi/en/company/">About us</a></li>
            <li class="menu-item primary-navigation__item"><a class="menu-item__link" href="https://www.solita.fi/en/careers/">Careers</a></li>
        </ul>
    </nav>
</header>