<div class="elsewhere">
    <h4>Solita elsewhere</h4>
    <a href="/rss.xml" rel="external" class="rss"><i class="icon-rss"></i><span class="hidden">RSS</span></a>
    <a href="http://www.facebook.com/Solita" rel="external" class="facebook"><i class="icon-facebook"></i><span class="hidden">Facebook</span></a>
    <a href="https://twitter.com/SolitaOy" rel="external" class="twitter"><i class="icon-twitter"></i><span class="hidden">Twitter</span></a>
    <a href="http://www.linkedin.com/company/15589" rel="external" class="linkedin"><i class="icon-linkedin"></i><span class="hidden">LinkedIn</span></a>
</div>

<p>
    <a href="http://www.solita.fi/hae-meille/" rel="external">Work and write with us.</a>
</p>

<h4>Tags</h4>
<div class="tag-cloud">
    {% tag_cloud %}
</div>
