<h5>More about Solita</h5>

<div class="some-icons">

    <a href="/rss.xml" rel="external" class="some-icon">
        <span class="some-icon-content">
            <img class="some-icon-img" src="/img/rss-gray40.svg" alt="RSS">
            <span>RSS /dev/solita</span>
        </span>
    </a>

    <a href="https://www.solita.fi" class="some-icon">
        <span class="some-icon-content">
            <img class="some-icon-img" src="/img/www-gray40.svg" alt="RSS">
            <span>solita.fi</span>
        </span>
    </a>

    <a href="http://www.facebook.com/Solita" rel="external" class="some-icon">
        <span class="some-icon-content">
            <img class="some-icon-img" src="/img/facebook-gray40.svg" alt="RSS">
            <span>LinkedIn</span>
        </span>
    </a>

    <a href="http://www.linkedin.com/company/15589" rel="external" class="some-icon">
        <span class="some-icon-content">
            <img class="some-icon-img" src="/img/linkedin-gray40.svg" alt="RSS">
            <span>Facebook</span>
        </span>
    </a>

    <a href="https://twitter.com/SolitaOy" rel="external" class="some-icon">
        <span class="some-icon-content">
            <img class="some-icon-img" src="/img/twitter-gray40.svg" alt="RSS">
            <span>Twitter</span>
        </span>
    </a>

    <a href="https://www.instagram.com/solitaoy/" rel="external" class="some-icon">
        <span class="some-icon-content">
            <img class="some-icon-img" src="/img/instagram-gray40.svg" alt="RSS">
            <span>Instagram</span>
        </span>
    </a>

    <a href="http://www.youtube.com/user/SolitaOy" rel="external" class="some-icon">
        <span class="some-icon-content">
            <img class="some-icon-img" src="/img/youtube-gray40.svg" alt="RSS">
            <span>YouTube</span>
        </span>
    </a>
</div>

<p>
    <a class="decorated" href="http://www.solita.fi/hae-meille/" rel="external">Work and write with us &raquo;</a>
</p>

<h5>Tags</h5>
<div class="tag-cloud">
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
    <a class="tag" data-count="{{ tag | last | size }}" href="/tags.html#{{ tag | first | slugify }}-ref">
        {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
        {% endfor %}
</div>