.site-footer {
    position: relative;
    padding: $baseline*3 0;

    text-align: center;

    @media (min-width: $breakpoint-3) {
        text-align: right;
    }
}

.site-footer-links {
    margin-top: 1em;

    a {
        display: inline-block;
        padding: 0.25em 0.5em;
        border-right: 1px $cerise solid;

        &:last-child {
            border-right: none;
            padding-right: 0
        }
    }

}
