.site-footer-wrapper {
  background-color: $brand-gray40;
}

.site-footer-content {
  position: relative;
  height: 120px;
  text-align: center;

  @media (min-width: $breakpoint-3) {
    text-align: right;
  }
}

.site-footer-links {
  margin-top: 1em;
  @include small-text-mx;
  color: $brand-gray230;

  a {
    display: inline-block;
    padding: 0.25em 0.5em;
    color: $brand-gray230;

    &:last-child {
      border-right: none;
      padding-right: 0
    }
  }
}
