.site-header {
  position: relative;
  margin: $baseline*1 0 $baseline*2;

  @media (min-width: $breakpoint-3) {
    width: 520px;
    padding-left: 160px;
    margin: $baseline*2 0 $baseline*3;
  }
}

.site-logo {
  display: inline-block;

  @media (min-width: $breakpoint-3) {
    position: absolute;
    left: 0;
  }
}

.site-logo-img {
  vertical-align: middle;
  width: 130px;
}

.site-title {
  display: inline-block;
  margin: 0 0 0 0.1em;
  vertical-align: middle;
  position: static;
  top: auto;

  @media (min-width: $breakpoint-3) {
    margin: 0;
    position: relative;
    top: 8px;
  }
}

.site-description {
  font-size: 0.75em;
  font-weight: 400;
  line-height: $baseline;
  margin-bottom: 0;
}
