.site-header {
    margin-top: 1.5em;
    margin-bottom: 3em;

    &__branding {
        float: left;
        padding-left: 0.25rem;

        @media (min-width: $breakpoint-1) {
            padding: 1rem 2rem 1rem 0.25rem;
        }
    }

    &__navigation {
        clear: both;
        padding: 1rem 0;

        @media (min-width: $breakpoint-1) {
            clear: none;
            float: left;
        }
    }

    &__hamburger {
        float: right;
    }
}