.site-header {
    margin-bottom: 1em;

    &__branding {
        float: left;
        padding: 2rem 2rem 2rem 0;
    }

    &__navigation {
        float: left;
        padding: 2rem 0;
    }

    &__hamburger {
        float: right;
    }
}