.post {
  margin-bottom: $baseline*2;
  position: relative;
}

.post-title {
  margin: 0 0 0.5em;
}

$post-meta-small-image-size-desktop: 40px;
$post-meta-small-image-size-mobile: 20px;

.post-meta-small {
  padding: 6px 0 0 0;
  margin-bottom: 0.5em;

  @media (min-width: $breakpoint-3) {
    padding: 5px;
  }

  .avatar {
    .img {
      max-width: $post-meta-small-image-size-mobile;
      vertical-align: middle;

      @media (min-width: $breakpoint-3) {
        max-width: $post-meta-small-image-size-desktop;
      }
    }
  }

  .author {
    margin-left: 0.7em;
  }
}

.post-meta {
  .meta-rows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

$post-meta-big-image-size-desktop: 80px;
$post-meta-big-image-size-mobile: 40px;

.post-meta-big {
  padding: 6px 0 0 ($post-meta-big-image-size-mobile + 50px);
  margin-bottom: 2em;
  height: $post-meta-big-image-size-mobile;

  @media (min-width: $breakpoint-3) {
    height: $post-meta-big-image-size-desktop;
    margin-bottom: 1.5em;
    padding: 6px 0 0 ($post-meta-big-image-size-desktop + 20px);
  }

  .avatar {
    .img {
      position: absolute;
      left: 0;
      max-width: $post-meta-big-image-size-mobile;
      vertical-align: middle;

      @media (min-width: $breakpoint-3) {
        max-width: $post-meta-big-image-size-desktop;
      }
    }
  }
}

.post-excerpt,
.post-content > p,
.post-content > ul,
.post-content > ol,
.post-content > blockquote,
.post-content td,
.post-content th,
.post-content caption {
  font-size: 1rem;
  line-height: $baseline;
}

.post-excerpt {
  margin-bottom: 0.5em;
}

.caption {
  font-style: italic;
  text-align: center;
}

p + .caption {
  margin-top: -$baseline/2;
}

.post-content {
  margin-bottom: $baseline*2;
}
