.primary-navigation {
    display: none;
    letter-spacing: .04rem;
    font-size: 0.875rem;
    line-height: (22/14);

    @media (min-width: $breakpoint-1) {
        font-size: 0.75rem;
        line-height: (20/12);
        display: block;
    }

    @media (min-width: $breakpoint-3) {
        font-size: 0.875rem;
        line-height: (22/14);
    }

    &__items {
        font-family: ShartSansDisplayNo1,Helvetica,Arial,sans-serif;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .menu-item {
        @media (min-width: $breakpoint-1) {
            float: left;
            margin: 0.75rem 0.5rem;
        }

        @media (min-width: $breakpoint-2) {
            margin: 0.75rem 1rem;
        }

        &__link {
            color: $brand-gray40;
            font-weight: 700;
            padding: 1em 0;
            display: block;
            border-top: 1px solid $brand-gray230;
            text-align: center;

            @media (min-width: $breakpoint-1) {
                padding: 5px 0;
                border: none;
            }

            &--active, &:hover {
                text-decoration: none;
                background-color: $brand-gray230;

                @media (min-width: $breakpoint-1) {
                    background-color: transparent;
                    border-bottom: 3px solid $brand-gray40;
                }
            }
        }
    }
}
