/* RESET
----------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

[hidden] {
  display: none;
}

img {
  border: 0;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

img, embed, object, video {
  height: inherit;
  max-width: 100%;
  _width: 100%; /* IE6 fix */
}

/* Position 'sub' and 'sup' without affecting line-height: gist.github.com/413930 */
sub, sup {
  font-size: 0.625em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
