.sidebar {
  *:first-child {
    margin-top: 0;
  }

  h4, h5 {
    margin-bottom: 1em;
  }

  .none {
    text-align: center;
  }

  .empty {
    border: 2px dashed $brand-gray80;
    border-radius: 6px;
    font-size: 0.75em;
    line-height: $baseline;
    padding: ($baseline - 4px)/2 0;
    width: auto;
  }

  .hidden {
    display: none;
  }
}

.some-icons {
  margin-bottom: 1em;
}

/* FIXME At the moment I was writing this, there is a bug in the tag-cloud generator (sidebar.html)
   Some tags are generated outside the sidebar. I have no idea why this is happening.
   Temporal solution is included here: hide all tags which are not inside the tag cloud.*/
.tag { display: none; }
.tag-cloud .tag { display: inline-block; }