/* TYPOGRAPHY
----------------------------------------------------------------------------- */

$baseline: 24px;
$color-text: $brand-gray40;

// Fonts

@font-face {
  font-family: 'Sharp Sans';
  src: url('/fonts/SharpSans-Medium.woff2') format('woff2'),
  url('/fonts/SharpSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sharp Sans';
  src: url('/fonts/SharpSans-Semibold.woff2') format('woff2'),
  url('/fonts/SharpSans-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Sharp Sans';
  src: url('/fonts/SharpSans-Bold.woff2') format('woff2'),
  url('/fonts/SharpSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* These are currently not used:

@font-face {
  font-family: 'Sharp Sans BoldItalic';
  src: url('/fonts/SharpSans-BoldItalic.woff2') format('woff2'),
  url('/fonts/SharpSans-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Sharp Sans BookItalic';
  src: url('/fonts/SharpSans-BookItalic.woff2') format('woff2'),
  url('/fonts/SharpSans-BookItalic.woff') format('woff');
}

@font-face {
  font-family: 'Sharp Sans Extrabold';
  src: url('/fonts/SharpSans-Extrabold.woff2') format('woff2'),
  url('/fonts/SharpSans-Extrabold.woff') format('woff');
}

@font-face {
  font-family: 'Sharp Sans ExtraboldItalic';
  src: url('/fonts/SharpSans-ExtraboldItalic.woff2') format('woff2'),
  url('/fonts/SharpSans-ExtraboldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Sharp Sans Light';
  src: url('/fonts/SharpSans-Light.woff2') format('woff2'),
  url('/fonts/SharpSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Sharp Sans LightItalic';
  src: url('/fonts/SharpSans-LightItalic.woff2') format('woff2'),
  url('/fonts/SharpSans-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Sharp Sans Medium';
  src: url('/fonts/SharpSans-Medium.woff2') format('woff2'),
  url('/fonts/SharpSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Sharp Sans MediumItalic';
  src: url('/fonts/SharpSans-MediumItalic.woff2') format('woff2'),
  url('/fonts/SharpSans-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Sharp Sans SemiboldItalic';
  src: url('/fonts/SharpSans-SemiboldItalic.woff2') format('woff2'),
  url('/fonts/SharpSans-SemiboldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Sharp Sans Thin';
  src: url('/fonts/SharpSans-Thin.woff2') format('woff2'),
  url('/fonts/SharpSans-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Sharp Sans ThinItalic';
  src: url('/fonts/SharpSans-ThinItalic.woff2') format('woff2'),
  url('/fonts/SharpSans-ThinItalic.woff') format('woff');
}
 */

// Body

body {
  font-family: "Sharp Sans", "Century Gothic", Arial, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: $color-text;
  word-wrap: break-word;
}

body, input, textarea {
  color: $color-text;
}

// Headings

h1, h2, h3, h4, h5, h6 {
  margin: $baseline 0;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.25;
  color: $color-text;
}

h2 {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.25;
  color: $color-text;
  margin: $baseline 0 $baseline;
}

h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.25;
  color: $color-text;
}

h4 {
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.25;
  color: $color-text;
  margin: $baseline 0 0;

}

h5 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25;
  color: $color-text;
  margin: $baseline 0 0;

}

// Links

@mixin arrow-right($color) {
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
  position: relative;
  top: -1px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid $color;
}

@mixin arrow-left($color) {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  position: relative;
  top: -1px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid $color;
}

.arrow-right {
  @include arrow-right($color-text)
}

.arrow-left {
  @include arrow-left($color-text)
}

.link-arrow-right {
  @include arrow-right($brand-red)
}

.link-arrow-left {
  @include arrow-left($brand-red)
}

@mixin link-hover {
  color: $brand-gray80;
  text-decoration: underline;
}

@mixin link-active {
  color: $color-text;
  text-decoration: underline;
}

@mixin link-active-heading {
  color: $brand-red;
  text-decoration: underline;
}

@mixin link-body { // Text link which looks like a normal body text
  color: $color-text;
  text-decoration: none;
}

a {
  color: $brand-red;
  text-decoration: none;

  &:hover {
    @include link-hover;

    .link-arrow-right {
      border-left: 10px solid $brand-gray80;
    }

    .link-arrow-left {
      border-right: 10px solid $brand-gray80;
    }
  }

  &:active {
    @include link-active;

    .link-arrow-right {
      border-left: 10px solid $color-text;
    }

    .link-arrow-left {
      border-right: 10px solid $color-text;
    }

  }
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: $color-text;

  &:active {
    @include link-active-heading;
  }
}

// Other text styles

@mixin small-text-mx {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5;
}

.small-text {
  @include small-text-mx;
}

.minor-text {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.5;
}

// Other elements

.text-divider {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.text-divider-bullet {
  display: inline-block;
  margin-right: 0.2em;
  margin-left: -0.3em;
  font-size: 0.7em;
}

caption {
  font-style: italic;
}

blockquote {
  border-left: 2px solid #bbb;
  color: #888;
  margin: 0 0 1.6em;
  padding-left: 2em;
}

ol, ul, p, pre, table, form, caption {
  margin: 0 0 $baseline;
}

pre, code, kbd, samp {
  font: 1em/1.625em Menlo, Consolas, 'DejaVu Sans Mono', Monaco, 'Courier New', Courier, monospace;
}

pre {
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 0.75em;
  overflow-x: auto;
  padding: $baseline/2 $baseline/2;
}

code {
  display: inline;
}

ul, ol {
  padding: 0 0 0 1.4em;
}
