/* TYPOGRAPHY
----------------------------------------------------------------------------- */

$baseline: 24px;

// Fonts

@font-face {
  font-family: 'Sharp Sans Medium';
  src: url('/fonts/SharpSans-Medium.woff2') format('woff2'),
       url('/fonts/SharpSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Sharp Sans Bold';
  src: url('/fonts/SharpSans-Bold.woff2') format('woff2'),
  url('/fonts/SharpSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Sharp Sans Semibold';
  src: url('/fonts/SharpSans-Semibold.woff2') format('woff2'),
  url('/fonts/SharpSans-Semibold.woff') format('woff');
}

/* These are currently not used:

@font-face {
  font-family: 'Sharp Sans BoldItalic';
  src: url('/fonts/SharpSans-BoldItalic.woff2') format('woff2'),
  url('/fonts/SharpSans-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Sharp Sans BookItalic';
  src: url('/fonts/SharpSans-BookItalic.woff2') format('woff2'),
  url('/fonts/SharpSans-BookItalic.woff') format('woff');
}

@font-face {
  font-family: 'Sharp Sans Extrabold';
  src: url('/fonts/SharpSans-Extrabold.woff2') format('woff2'),
  url('/fonts/SharpSans-Extrabold.woff') format('woff');
}

@font-face {
  font-family: 'Sharp Sans ExtraboldItalic';
  src: url('/fonts/SharpSans-ExtraboldItalic.woff2') format('woff2'),
  url('/fonts/SharpSans-ExtraboldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Sharp Sans Light';
  src: url('/fonts/SharpSans-Light.woff2') format('woff2'),
  url('/fonts/SharpSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Sharp Sans LightItalic';
  src: url('/fonts/SharpSans-LightItalic.woff2') format('woff2'),
  url('/fonts/SharpSans-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Sharp Sans Medium';
  src: url('/fonts/SharpSans-Medium.woff2') format('woff2'),
  url('/fonts/SharpSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Sharp Sans MediumItalic';
  src: url('/fonts/SharpSans-MediumItalic.woff2') format('woff2'),
  url('/fonts/SharpSans-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Sharp Sans SemiboldItalic';
  src: url('/fonts/SharpSans-SemiboldItalic.woff2') format('woff2'),
  url('/fonts/SharpSans-SemiboldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Sharp Sans Thin';
  src: url('/fonts/SharpSans-Thin.woff2') format('woff2'),
  url('/fonts/SharpSans-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Sharp Sans ThinItalic';
  src: url('/fonts/SharpSans-ThinItalic.woff2') format('woff2'),
  url('/fonts/SharpSans-ThinItalic.woff') format('woff');
}
 */

// Body

body {
  font-family: "Sharp Sans Medium", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: $brand-gray40;
  word-wrap: break-word;
}

body, input, textarea {
  color: $color-text;
}

// Headings

h1, h2, h3, h4, h5, h6 {
  margin: $baseline 0;
}

h1 {
  font-family: "Sharp Sans Bold", Century Gothic Bold, Arial Bold, sans-serif;
  font-size: 2.5rem;
  line-height: 1.25;
  color: $brand-gray40;
}

h2 {
  font-family: "Sharp Sans Semibold", Century Gothic, Arial, sans-serif;
  font-size: 1.75rem;
  line-height: 1.25;
  color: $brand-gray40;
  margin: $baseline 0 $baseline;
}

h3 {
  font-family: "Sharp Sans Bold", Century Gothic Bold, Arial Bold, sans-serif;
  font-size: 1.5rem;
  line-height: 1.25;
  color: $brand-gray40;
}

h4 {
  font-family: "Sharp Sans Semibold", Century Gothic, Arial, sans-serif;
  font-size: 1.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.25;
  color: $brand-gray40;
  margin:$baseline 0 0;

}

h5 {
  font-family: "Sharp Sans Bold", Century Gothic Bold, Arial Bold, sans-serif;
  font-size: 1.125rem;
  line-height: 1.25;
  color: $brand-gray40;
  margin:$baseline 0 0;

}

// Links

.link-arrow-right {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  position: relative;
  top: -2px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 13px solid $brand-red;
}

@mixin link-hover {
  color: $brand-gray80;
  text-decoration: underline;
}

@mixin link-active {
  color: $brand-gray40;
  text-decoration: underline;
}

/* Text link which looks like a normal body text */
@mixin link-body {
  color: $color-text;
  text-decoration: none;
}

a {
  color: $brand-red;
  text-decoration: none;

  &:hover {
    @include link-hover;

    .link-arrow-right {
      border-left: 13px solid $brand-gray80;
    }
  }

  &:active {
    @include link-active;


    .link-arrow-right {
      border-left: 13px solid $brand-gray40;
    }
  }
}

// Other text styles

.small-text {
  font-family: ”Sharp Sans Medium”, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  color: $brand-gray40;
}

.minor-text {
  font-family: ”Sharp Sans Medium”, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.5;
  color: $brand-gray40;
}

// Other elements

caption {
  font-style: italic;
}

blockquote {
  border-left: 2px solid #bbb;
  color: #888;
  margin: 0 0 1.6em;
  padding-left: 2em;
}

ol, ul, p, pre, table, form, caption {
  margin: 0 0 $baseline;
}

pre, code, kbd, samp {
  font: 1em/1.625em Menlo, Consolas, 'DejaVu Sans Mono', Monaco, 'Courier New', Courier, monospace;
}

pre {
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 0.75em;
  overflow-x: auto;
  padding: $baseline/2 $baseline/2;
}

code {
  display: inline;
}

ul, ol {
  padding: 0 0 0 1.4em;
}
