/* COLORS
----------------------------------------------------------------------------- */

// Solita brand palette (not complete, includes only parts that are needed on this site)

$brand-red: rgb(220,30,50);
$brand-gray40: rgb(40, 40, 40);
$brand-gray80: rgb(80,80,80);
$brand-gray250: rgb(250,250,250);
$brand-gray240: rgb(240,240,240);

$color-text: $brand-gray40;

// Old palette

$cerise: #e93f85;