// Style wide settings

// Solita brand palette (not complete, includes only parts that are needed on this site)

$brand-red: rgb(220,30,50);
$brand-gray40 rgb(40, 40, 40)
$brand-gray250: rgb(250,250,250);

$color-text: $brand-gray40;

// Old brand palette

$cerise: #e93f85;
$black: #000;
$pale-sky: #70767f;
$porcelain: #f0f1f2;
$white: #fff;
$color-gray: #666; // FIXME: change to Solita authentic gray

// Text

$font-body: 'proxima-nova', sans-serif;
$font-heading: $font-body;
$font-code: Menlo, Consolas, 'DejaVu Sans Mono', Monaco, 'Courier New', Courier, monospace;

// Breakpoints

$breakpoint-1: 620px;
$breakpoint-2: 740px;
$breakpoint-3: 1040px;

// Other

$primary-width: 700px;
$baseline: 24px;
