.site-footer {
    background: $color-gray;
    color:#fff;
    font-size:0.8em;
    padding-top:$baseline;

    a {
        border:0;
        color:#eee;

        &:hover {
            color:#d1d1d1;
        }
    }

    h3 {
        margin-bottom:0;
    }

    .logo {
        vertical-align: middle;
    }

    .blog-title {
        margin-top:0;
    }
}

.footer-slogan {
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    font-style:italic;
    text-align:center;
    padding: $baseline/2 0;
}
