.post {
    margin-bottom:$baseline*2;
    position:relative;

    @media (min-width: $breakpoint-3) {
        padding-left: $primary-width - 520px;
        width: 520px;
    }
}

.post-title {
    font-size:1.5em;
    line-height:$baseline*1.5;
    margin:0;

    a {
        border:0;
    }
}
.post-meta {
    font-size:0.75em;
    padding:6px 0 0 0;
    position:relative;

    @media (min-width: $breakpoint-3) {
        line-height:$baseline;
        padding: 0 0 0 57px;
        position:absolute;
        left:0;
        top:5px;

        .date {
            display:block;
        }
    }

    .avatar {
        @media (min-width: $breakpoint-3) {
            position:absolute;
            left:0;
            top:3px;
        }

        .img {
            max-width:24px;
            vertical-align: middle;

            @media (min-width: $breakpoint-3) {
                max-width:42px;
            }
        }
    }

    .icon {
        display:none;
        position:absolute;

        @media (min-width: $breakpoint-3) {
            display: block;
            left:-44px;
            top:-37px;
            z-index:2;
        }
    }
}

.post-excerpt, .post-content > p, .post-content > ul, .post-content > ol, .post-content > blockquote {
    font-size:0.75em;
    line-height:$baseline;
}

.post-content > .highlight pre, .post-content > pre {
    font-size: 0.85em;
}

.more-link {
    background:#f1f1f1;
    border:0;
    color: $color-gray;
    font-size:0.75em;
    line-height:$baseline;
    margin-bottom:$baseline*1.25;
    padding:$baseline/4 10px;

    &:hover {
        background:$color-gray;
        color:#fff;
    }
}

.post-content {
    margin-bottom: $baseline*2;
}

