/* TYPOGRAPHY
----------------------------------------------------------------------------- */
body {
    /* 16px/24px --> $baseline: 24px */
    font:100%/1.5 $font-body;
}
body, input, textarea {
    color:$color-text;
}
h1, h2, h3, h4, h5, h6 {
    margin: $baseline 0;
}
ol, ul, p, pre, table, form, caption {
    margin:0 0 $baseline;
}

caption {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
    font-weight: 700;
    line-height: $baseline;
}
h1, .fake-h1 {
    font-size: 2.625em;
    line-height: $baseline*2;
}
h2, .fake-h2 {
    font-size: 1.5em;
    line-height:$baseline*1.5;
    margin: $baseline 0 $baseline;
}
h3, .fake-h3 {
    font-size: 1.25em;
}
h4, .fake-h4 {
    font-size: 1em;
    margin:$baseline 0 0;
}
h5, .fake-h5 {
    font-family: $font-body;
    font-size: 1em;
    margin:$baseline 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h6, .fake-h6 {
    font-family: $font-body;
    font-size: 0.75em;
}

a {
    border-bottom:1px solid #ced2df;
    color:$color-link;
    text-decoration: none;
}
a:hover {
    border-color:$color-hover;
    color:$color-hover;
}
a:active, a:focus {
    opacity: .7;
}

blockquote {
    border-left:2px solid #bbb;
    color:#888;
    margin: 0 0 1.6em;
    padding-left: 2em;
}

pre, code, kbd, samp {
    font: 1em/1.625em $font-code;
}

pre {
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 0.75em;
    overflow-x: auto;
    padding: $baseline/2 $baseline/2;
}

code {
    display: inline;
}

ul, ol {
    padding: 0 0 0 1.4em;
}
