<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}{% if page.title %} - {% endif %}{{ site.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">
        <meta name="author" content="Solita Oy">

        {% include og.html %}

        <link href="/css/main.css" rel="stylesheet">
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss.xml"/>
        <link rel="icon" type="image/png" href="/img/favicon-16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/img/favicon-32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/img/favicon-96.png" sizes="96x96">
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-35431188-1']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>

        <script src="https://use.typekit.net/cjv1dsv.js"></script>
        <script>try {
            Typekit.load({async: true});
        } catch (e) {
        }</script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>

    <body>

        <div>

            <div class="site-content-wrapper">
                <header class="site-header">
                    <a class="site-logo" href="/">
                        <img class="site-logo-img" src="/img/solita-dev-logo.svg" alt="Solita"/>
                    </a>

                    <h5 class="site-title">{{ site.title }}</h5>
                </header>
            </div>

            <div class="main site-content-wrapper" role="main">
                <main class="primary">
                    {{ content }}
                </main>

                <aside class="sidebar">
                    {% include sidebar.html %}
                </aside>
            </div>

        </div>

        <footer class ="site-footer-wrapper">
            <div class="site-content-wrapper">
                <div class="site-footer-content">

                    <a class="site-logo" href="https://www.solita.fi">
                        <img class="site-logo-img" src="/img/Solita-footer-logo-white.svg" alt="Solita"/>
                    </a>

                    <div class="site-footer-links">
                        <a href="https://www.solita.fi/">Solita.fi</a>
                        <span class="text-divider">|</span>
                        <a href="https://www.facebook.com/Solita?__hstc=256420948.62ee05c43f7f28b4546e97a969f37bd8.1444921521532.1455107308943.1455535189712.18&amp;__hssc=256420948.4.1455535189712&amp;__hsfp=2012607753">Facebook</a>
                        <span class="text-divider">|</span>
                        <a href="https://www.linkedin.com/company/solita-oy/?__hstc=256420948.62ee05c43f7f28b4546e97a969f37bd8.1444921521532.1455107308943.1455535189712.18&amp;__hssc=256420948.3.1455535189712&amp;__hsfp=2012607753">LinkedIn</a>
                        <span class="text-divider">|</span>
                        <a href="https://twitter.com/SolitaOy?__hstc=256420948.62ee05c43f7f28b4546e97a969f37bd8.1444921521532.1455107308943.1455535189712.18&amp;__hssc=256420948.4.1455535189712&amp;__hsfp=2012607753">Twitter</a>
                        <span class="text-divider">|</span>
                        <a href="https://www.instagram.com/solitaoy/">Instagram</a>
                        <span class="text-divider">|</span>
                        <a href="https://www.youtube.com/user/SolitaOy?__hstc=256420948.62ee05c43f7f28b4546e97a969f37bd8.1444921521532.1455107308943.1455535189712.18&amp;__hssc=256420948.4.1455535189712&amp;__hsfp=2012607753">YouTube</a>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Default image for social media sharing (if any of the images of blog posts are not suitable) -->
        <div id="templates" style="display: none;">
            <a href="#" class="avatar">
                <img class="img" src="/img/Solita_1200x627_fb_red.png" alt=""/>
            </a>
        </div>

        <script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="/js/transparency.min.js"></script>
        <script type="text/javascript" src="/js/webtoolkit.md5.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>
