<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}{% if page.title %} - {% endif %}{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Solita developer blog">
    <meta name="author" content="Solita Oy">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed - dev.solita.fi" href="/rss.xml" />
    
  </head>

  <body>

    {{ content }}

  </body>
</html>
