---
layout: default
back_title: See all posts
---

<div class="post single">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta post-meta-big minor-text">
        <div class="post-meta-rows">
            <div class="post-meta-basic-info">
                {% assign authors = page.author | split: ", " %}
                <span class="author">by
                    {% for authorName in authors -%}
                        {%- assign author = site.authors[authorName] -%}
                        {%- if authorName != authors[0] %}, {% endif -%}
                        <a href="{{ author.url }}" title="{{ author.email }}">{{ author.name }}</a>
                    {%- endfor -%}
                </span>
                <span class="text-divider">|</span>
                <span class="date" title="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</span>
            </div>
            <div class="post-meta-tags">
                {% for tag in page.tags %}
                   {% if tag != page.tags[0] %}
                        <span class="text-divider-bullet">&#9679;</span>
                    {% endif %}
                <a class="post-meta-tag" data-count="{{ tag | size }}" href="/tags.html#{{ tag | slugify }}-ref">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <article class="post-content">
        {{ content }}
    </article>

</div>
