---
layout: default
---

<div class="post single">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta post-meta-big minor-text">
        <div class="post-meta-rows">
            <div class="post-meta-basic-info">
                {% assign authors = page.author | split: ", " %}
                <span class="author">by
                    {% for authorName in authors -%}
                        {%- assign author = site.authors[authorName] -%}
                        {%- if authorName != authors[0] %}, {% endif -%}
                        <a href="{{ author.url }}">{{ authorName }}</a>
                    {%- endfor -%}
                </span>
                <span class="text-divider">|</span>
                <span class="date" title="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</span>
            </div>
            <div class="post-meta-tags">
                {% for tag in page.tags %}
                   {% if tag != page.tags[0] %}
                        <span class="text-divider-bullet">&#9679;</span>
                    {% endif %}
                <a class="post-meta-tag" data-count="{{ tag | size }}" href="/tags.html#{{ tag | slugify }}-ref">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <article class="post-content">
        {{ content }}
    </article>

    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        <a class="addthis_counter addthis_pill_style"></a>
    </div>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
    <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fc649c87892c488"></script>
    <!-- AddThis Button END -->

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'solitadev';
        var disqus_identifier = '{{ page.url }}';
        var disqus_url = '{{ site.url }}{{ page.url }}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
